{% extends 'RSSReaderBundle::layout.html.twig' %}

{% block title "RSS About" %}

    {% block content %}
        It's project can help you to read some RSS feeds in single page!<br>
        <a href="{{ path('home') }}">Home</a>
    {% endblock %}