{% extends 'RSSReaderBundle::layout.html.twig' %}
{% block title "RSS Feeds Add" %}

{% block content -%}
    <h1>Rss creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rss_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
