
<div class = "changeTagsWrapper">
    <div class = "changeTagsTitle">Tags:</div>
    <div class = "changeTags">
        {% for tag in tags %}
            <div class = "deleteTags">{{ tag.tag }}<img data-tag-id="{{ tag.id }}" class = "delete_img" src="{{ asset("bundles/rssreader/images/delete.png") }}"/></div>
        {% endfor %}
    </div>
</div>